* {
    margin: 0px;
}


#myVideo {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}


.viewport-header {
    position: relative;
    height: 100vh;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    opacity: 0.7;
    padding-left: 10px;
    padding-right: 10px;
}

::-webkit-scrollbar {
    width: 0px;
  }

  .carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 600px;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }



  .tabs .indicator {
    background-color: greenyellow;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
}


.mvsection{
padding-left:30px ;
padding-right:30px ;

}


.tabs{
    padding-left: 20px;
}